In [6]:
import sqlite3

In [7]:
con = sqlite3.connect('students1.sqlite3')

In [8]:
cur = con.cursor()

In [9]:
create_table_query = '''

CREATE TABLE student(
    id int primary key,
    name varchar not null,
    address varchar not null,
    college varchar not null,
    age int not null,
    gender varchar(1) not null,
    faculty varchar not null
);

'''
cur.execute(create_table_query)

In [10]:
insert_records = '''

Insert into student('id', 'name', 'address', 'college', 'age', 'gender', 'faculty') 
values 
(1, 'ram', 'kathmandu', 'ncit', 18, 'm', 'IT'),
(2, 'shyam', 'lalitpur', 'islington', 20, 'm', 'CSIT'),
(3, 'gita', 'pokhara', 'ncit', 21, 'f', 'SE'),
(4, 'sita', 'kathmandu', 'ioe pulchowk', 24, 'f','CE');

'''

cur.execute(insert_records)

In [ ]:
# cur.execute() onlye saves the data in python memory. To embed the data into hard drive you need to commit it.
con.commit()